*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, helvetica, monospace;
}

body {
    background-color:white;
}

.Menu{
    list-style: none;
    background-color: #161853;
    width: 1280px;
    height: 138px;
    justify-content: space-between;
    display:flex;
    align-items: flex;
}

.img__menu{
    width: 10%;
    border-radius: 50%;
    height: 130px;
    margin: auto;
 }  

span{
    color: white;
    width: 15%;
    margin: auto;
}

.partOfMenu{
    display: flex;
    width:60%;
    align-items: center;
}

.partOfMenu li{
    display: flex;
    list-style: none;
    width:25%;
    height:100% ;
    align-items: center;
}

.partOfMenu li a{
    text-decoration:none;
    margin: auto;
    text-align: center;
    color:white;
    align-items:center;
}

.partOfMenu li:hover{
    background: #EC255A;
}

.portada{
    width: 1280px;
    height: 723px;
    position: relative;
    overflow: hidden;
}

.portada img{
    width: 1166px;
    height: 600px;
    margin: 36px 57px;
}

.form{
    background-color:#161853;
    width: 976px;
    height: 172px;
    margin: 0 152px;
    border-radius:16px;
    border:none;
    position:absolute;
    top:550px;
    display:flex;
    align-items: center;
    box-shadow: 4px 4px 8px gray;
}
.form label {
    width: 134px;
    height: 40px;
    font-size:20px;
    margin: auto;
    padding:10px 0px;
    text-align: center;
    color:aliceblue;
}
#text{
width:497px;
height: 40px;
margin: auto;
border-radius:8px;
border:none;
}
.form button{
    width:99px;
    height: 40px;
    margin: auto;
    border-radius:8px;
    background-color:#EC255A;
    color:aliceblue;
    border: none;
}
.history{
width:972px;
height:160px;
margin: 0 152px;
}
.history h1{
color:#EC255A;
font-size: 15px;
}