*{
    margin:0;
    padding: 0;
    font-family: arial, helvetica, monospace;
}

body {
    background-color:white;
}

.Menu{
    list-style: none;
    background-color: #161853;
    width: 99%;
    height: 80px;
    justify-content: space-between;
    display:flex;
    align-items: flex;
}

 .img__menu{
     width: 10%;
    border-radius: 50%;
    height: 76px;
    margin: auto;
 }  

span{
    color: white;
    width: 15%;
    margin: auto;
}

.partOfMenu{
    display: flex;
    width:60%;
    align-items: center;
}

.partOfMenu li{
    display: flex;
    list-style: none;
    width:25%;
    height:100% ;
    align-items: center;
}

.partOfMenu li a{
    text-decoration:none;
    margin: auto;
    text-align: center;
    color:white;
    align-items:center;
}

.partOfMenu li:hover{
    background: #fa8703;
}

.slider-frame{
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;

    animation: slide 15s infinite;

}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 300%;
}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20%{margin-left: 0%;}

    25% {margin-left: -100%;}
    45%{margin-left: -100%;}

    50% {margin-left: -200%;}
    70%{margin-left: -200%;}
    
}
