#secondPage {
    display: none;
}
#threePage {
    display: none;
}
#fourPage {
    display: none;
}
#block {
    display: none;
}
@font-face {
    font-family: Poppins, sans-serif;
    src: url(Fonts/Poppins-Regular.ttf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-color:white;
    color: #595959;
}

.Menu{
    list-style: none;
    background-color: #161853;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    display: flex;
}

.img__menu{
    width: 10%;
    border-radius: 50%;
    height: 90%;
    margin: auto;
}

span{
    color: white;
    width: 15%;
    margin: auto;
}

.partOfMenu{
    display: flex;
    width:60%;
    align-items: center;
    justify-content: space-between;
}

.partOfMenu li{
    display: flex;
    list-style: none;
    width:30%;
    height:100% ;
    align-items: center;
}

.partOfMenu li a{
    text-decoration:none;
    margin: auto;
    text-align: center;
    color:white;
    align-items:center;
}

.partOfMenu li:hover{
    background: #EC255A;
}
/* ---------Ordenamiento de onePage----------- */
#onePage{
    display: flex;
    flex-direction: column;
}
.portada{
    width: 100%;
    height: 70%;
    position: relative;
}
.img{
    width: 100%;
    height: 50%;
    margin: auto;
    justify-items: center;
}
.portada img{
    width: 90%;
    height: 50%;
    margin: 0 5%;
    padding-top: 5%;
}
.form{
    background-color: #161853;
    width: 80%;
    height: 25%;
    margin: 0 10%;
    border-radius: 16px;
    border: none;
    position: absolute;
    top: 90%;
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 8px grey;
}

.form label {
    width: 20%;
    height: 13%;
    font-size: 120%;
    margin: auto;
    /* padding-top: 0.9%; */
    padding-right: 1%;
    text-align: center;
    color: aliceblue;
}
.form input{
    width: 50%;
    height: 35%;
    border-radius: 10px;
    text-align: center;
    color: #EC255A;
    border: none;
}

.form button{
    width: 10%;
    height: 35%;
    font-size: 100%;
    margin: auto 8%;
    border-radius: 8px;
    background-color: #EC255A;
    color: aliceblue;
    border: none;
}
.history{
    width: 90%;
    height: 25%;
    margin: 4% 5%;
    padding-top: 8%;
}
.history h3{
color:#EC255A;
font-size: 30px;
}
.history p{
    text-align: justify;
}

.contenedor{
    width: 90%;
    margin: auto;
}

/* ---- ---- ---- Título y controles ---- ---- ---- */
.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.contenedor-titulo-controles h3{
    color:#EC255A;
    font-size: 30px;
}
.contenedor-titulo-controles .indicadores button{
    background: #161853;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}
.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
    background: #EC255A;
}

/* ---- ---- ---- Contenedor principal y flechas ---- ---- ---- */
.peliculas-recomendadas .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
position: absolute;
border: none;
background: rgba(0, 0, 0, 0.3);
font-size:40px;
height: 50%;
top: calc(50% - 25%);
line-height: 40px;
width: 50px;
color:#EC255A;
cursor: pointer;
z-index: 500;
transition: .2s ease all;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
    background: rgba(0, 0, 0, .9);
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda{
    left:0;
}
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    right:0;
}

/* ---- ---- ---- Carousel ---- ---- ---- */
.peliculas-recomendadas .contenedor-carousel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth; /*evita que al seleccionar la imagen se desplace de forma brusca hacia arriba*/
}
.peliculas-recomendadas .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap;
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula{
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula:hover{
    transform: scale(1.1);
    transform-origin: center;
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
    width: 100%;
    height: 95%;/* agregado */
    vertical-align: top;
}
/* ------MenuResponsive---------- */
.menuResponsive__lavel, .menuResponsive__input{
    display:none;
}

/*-------- Estilos de Movies -----*/
#secondPage{
   margin: 10px;
}
#secondPage h3{
    color: #000000;
}
.movies{
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
    justify-content: space-evenly;
}
.posterDescription{
    border-radius: 8px;
    width: 30%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
.posterDescription img{
    width: 90%;
    height: 90%;
}
.filters-box{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-evenly;
}
.filter_1 {
    margin:5px 5px;
    border-radius: 5px;
    border:1px solid #D9D9D9;
    height:30px;
    overflow: hidden;
    width: 200px;
    position:relative;
 }
 select {
    background: transparent;
    border: none;
    color:#595959;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
 }
 select:focus{
     outline: none;
}
.filter_1::after{
     content:"\025be"; /* para crear nuevamente el ícono */
     color: white;
     display:table-cell;
     padding-top:7px;
     text-align:center;
     width:30px;
     height:30px;
     background-color: #161853;
     position:absolute;
     top:0;
     right:0px;
     pointer-events: none;
 }

/* ---- ---- ---- Media Queries ---- ---- ---- */
@media screen and (max-width:600px) {
    
    /* -------MenuResponsive----- */
    #Menu{
    justify-content: space-evenly;
    display: flex;
    align-items:center;
    height: 40px;
    }
    .img__menu{
    width: 10%;
    border-radius: 50%;
    height: 99%;
    margin: 0.5% 10%;
    }
    #Menu span {
    width: 25%;
   /*  padding-top: 1%; */
    font-size:60%;
    }
    
    .menuResponsive__lavel {
    display: block;
    cursor: pointer;
    width: 30%;
    margin-top: 31px;
    padding-left: 12%;
    }
    .menuResponsive__lavel img{
    height:50px;
   /*  display:fixed; */
    }
#menuResponsive__for:checked ~ .partOfMenu{
    height:130px;
    visibility:visible;
    opacity: 1;
}
    /* -----Menu sin desglozar------ */
    .partOfMenu{
    position:fixed;
    height:20%;/* --20% */
    top:40px;
    background: #f191aa;
    width:30%;/* --20% */
    right: 0;
    flex-direction: column;
    z-index: 100;
    align-items: center;
    opacity: 0;
    visibility:hidden;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    }
    .menuResponsive__input:checked + .partOfMenu{
        clip-path: circle(100% at center);
    }
    /* -----onePage--------- */
    .portada{
        margin-bottom: 14%;
    }
    .portada img{
        padding-top: 2%;
    }
    .form{
    height: 65%;
    top: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .form label{
    height: 15%;
    margin: auto 40%;
    padding-top: 0.3%;

    }
    .form input{
    width: 70%;
    height: 30%;
    margin: 0 15%;
    }
    .form button{
    width: 15%;
    height: 25%;
    margin: auto 45%;
    }
    /* --------Carrucel Responsive----------- */
    .peliculas-recomendadas .contenedor-carousel{
        overflow: visible;
    }

    .peliculas-recomendadas .contenedor-carousel .carousel{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }

    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .flecha-izquierda,
    .peliculas-recomendadas .flecha-derecha{
        display: none;
    }

    .posterDescription{
        width:45%;
    }
    .select{
        align-items: center;
        flex-direction: column;
    }
    .filter_1{
        padding: 5px 0;
    }
    /* --------FOOTER RESPONSIVE-JAMM */
footer{
    bottom: 0;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: end; */
    background-color: #161853;
    height: 200px;
    color: white;
}

    footer .content_1{
    margin: 15px;
    width: 47%;
    display: flex;
    font-size: 15px;
    align-items: center;
    /* height: 25%; */
    flex-direction: column;
}

    .content_1 a{
        height: 25%;
        text-align: center;
}
.contacto < a{
    margin-right: 10px;
    font-size: 20px;
    height: 25px;
}
}

}

/*-------- Maquetado de la tercera pag -----*/
#threePage{
    display:center;
    align-items:center;
    width:99%;
}
.Page3{
width:976px;
margin:0 auto;
}
.h2Page3{
    background-color:rgb(245, 211, 166);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.Page3 h2 a{
    text-align: center;
    width:30%;
}

.listSearchMovie{
    list-style: none;
    display:flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.listSearchMovie li{
    width:60%;
    text-align: center;
}
.img_listSearchMovie{
width: 150px;
height: 200px;
margin:2%;
border-radius: 15px;
box-shadow: 4px 4px 8px gray;
}
.listSearchMovie li a{
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.listSearch{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.listSearch li{
    text-align: center;
    width: 45%;
    align-items: center;
    margin: 15px auto;
    box-shadow: 4px 4px 8px gray;
}
.listSearch li img{
    width:250px;
    height:280px;
    margin: 5%;
    border-radius: 15px;
}
.listSearch li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
/* ------footer----------- */
footer{
    bottom: 0;
    display: flex;
    justify-content: space-between;
    /* align-items: end; */
    background-color: #161853;
    height: 200px;
    color: white;
}
footer .content_1{
    margin: 15px;
    width: 47%;
    display: flex;
    font-size: 15px;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
}
footer .content_2{
    margin: 15px;
    width: 47%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    height: 85%;
}

/* -------------FOOTER, Jammie----------- */
.contacto{
    display: flex;
    height: 25px;
}
.content_1 .contacto .fas {
    color:#fff;
    /* background-color:#060722; */
    margin-right: 10px;
    height: 30px;
}
.content_1 .contacto a{
    font-size: 15px;
}
footer .content_3{
    font-size: 50%;
}
.Box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 80px;
}
.Box h2{
    font-size: 15px;
    height: 200%;
    margin: 4% auto;
}
.red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color:#060722;
    text-align: center;
}
