#secondPage {
    display: none;
}
#threePage {
    display: none;
}
#fourPage {
    display: none;
}
#block {
    display: none;
}
@font-face {
    font-family: Poppins;
    src: url(Fonts/Poppins-Regular.ttf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-color:white;
}

.Menu{
    list-style: none;
    background-color: #161853;
    width: 99%;
    height: 138px;
    justify-content: space-between;
    display:flex;
    align-items: flex;
}

.img__menu{
    width: 10%;
    border-radius: 50%;
    height: 130px;
    margin: auto;
}

span{
    color: white;
    width: 15%;
    margin: auto;
}

.partOfMenu{
    display: flex;
    width:60%;
    align-items: center;
    justify-content: space-between;
}

.partOfMenu li{
    display: flex;
    list-style: none;
    width:30%;
    height:100% ;
    align-items: center;
}

.partOfMenu li a{
    text-decoration:none;
    margin: auto;
    text-align: center;
    color:white;
    align-items:center;
}

.partOfMenu li:hover{
    background: #EC255A;
}

.portada{
    width: 1280px;
    height: 723px;
    position: relative;
    overflow: hidden;
}

.portada img{
    width: 1166px;
    height: 600px;
    margin: 10px 8%;
}

.form{
    background-color:#161853;
    width: 976px;
    height: 172px;
    margin: 0 152px;
    border-radius:16px;
    border:none;
    position:absolute;
    top:550px;
    display:flex;
    align-items: center;
    box-shadow: 4px 4px 8px gray;
}

.form label {
    width: 134px;
    height: 40px;
    font-size:20px;
    margin: auto;
    padding:10px 0px;
    text-align: center;
    color:aliceblue;
}
/* #word_search{ */
/* ajuste al ancho del cuadro de sugerencias */
/* width:100%;
height: 100%; */
/* -------------------- */
/* margin: auto; */
/* border-radius:8px;
border:none;
} */
.form button{
    width:99px;
    height: 40px;
    margin: auto;
    border-radius:8px;
    background-color:#EC255A;
    color:aliceblue;
    border: none;
}
.history{
width:972px;
height:160px;
margin: 0 152px;
}
.history h3{
color:#EC255A;
font-size: 15px;
}
.history p{
    text-align: justify;
}

.contenedor{
    width: 90%;
    margin: auto;
}

/* ---- ---- ---- Título y controles ---- ---- ---- */
.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo-controles h3{
    color:#EC255A;
    font-size: 30px;
}

.contenedor-titulo-controles .indicadores button{
    background: #161853;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
    background: #EC255A;
}

/* ---- ---- ---- Contenedor principal y flechas ---- ---- ---- */
.peliculas-recomendadas .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
position: absolute;
border: none;
background: rgba(0, 0, 0, 0.3);
font-size:40px;
height: 50%;
top: calc(50% - 25%);
line-height: 40px;
width: 50px;
color:#EC255A;
cursor: pointer;
z-index: 500;
transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
    background: rgba(0, 0, 0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda{
    left:0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    right:0;
}

/* ---- ---- ---- Carousel ---- ---- ---- */
.peliculas-recomendadas .contenedor-carousel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth; /*evita que al seleccionar la imagen se desplace de forma delicada hacia arriba*/
}

.peliculas-recomendadas .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula{
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula:hover{
    transform: scale(1.1);
    transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
    width: 100%;
    vertical-align: top;
}

/* ---- ---- ---- Media Queries ---- ---- ---- */
@media screen and (max-width:800px) {
    .peliculas-recomendadas .contenedor-carousel{
        overflow: visible;
    }

    .peliculas-recomendadas .contenedor-carousel .carousel{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }

    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .flecha-izquierda,
    .peliculas-recomendadas .flecha-derecha {
        display: none;
    }
}
/*-------- Maquetado de la tercera pag -----*/
#threePage{
    display:center;
    align-items:center;
    width:99%;
}
.Page3{
width:976px;
margin:0 auto;
}
.h2Page3{
    background-color:rgb(245, 211, 166);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.Page3 h2 a{
    text-align: center;
    width:30%;
}

.listSearchMovie{
    list-style: none;
    display:flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.listSearchMovie li{
    width:60%;
    text-align: center;
}
.img_listSearchMovie{
width: 150px;
height: 200px;
margin:2%;
border-radius: 15px;
box-shadow: 4px 4px 8px gray;
}
.listSearchMovie li a{
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.listSearch{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.listSearch li{
    text-align: center;
    width: 45%;
    align-items: center;
    margin: 15px auto;
    box-shadow: 4px 4px 8px gray;
}
.listSearch li img{
    width:250px;
    height:280px;
    margin: 5%;
    border-radius: 15px;
}
.listSearch li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
/* -------cuadro de sugerencias------- */
.search-input {
    width: 60%;
    background:#fff;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #EC255A;
  }
  .search-input input{
    /* ajuste al ancho del cuadro de sugerencias */
    width:100%;
    height: 100%;
    padding: 0 8%;
    font-size: 20px;
    border-radius:8px;
    border:none;
    color:#EC255A;
    border: none;
    }

  .autocom-box {
    border-top: 2px;
    background-color:#fff;
    color:#EC255A;
    display:flex;
    align-items:flex;
    justify-content: center;
  }
  .autocom-box div {
    font-size: 12px;
    color:#161853;
    cursor: pointer;
    text-align: center;
    margin:auto;
  }
  .autocom-box div:hover {
    background-color:#f191aa;
  }

footer{
    background-color: #161853;
    height: 200px;
    color: white;
}
